Source: dovecot-fetchmail
Section: utils
Priority: optional
Maintainer: Peter Marschall <peter@adpm.de>
Build-Depends: debhelper (>= 7), dovecot-dev
Standards-Version: 3.8.1
Homepage: http://guichaz.free.fr/misc/

Package: dovecot-fetchmail
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dovecot-imapd
Description: a Dovecot plugin that helps train spam filters
 dovecot-fetchmail provides a plugin for the Dovecot IMAP server that
 awakens a sleeping fetchmail daemon whenever an IMAP client calls
 the IMAP "STATUS" or "IDLE" commands.
